body {
	max-width: 1000px;
	float: none;
	margin: auto;
	padding: 0px;
	background-color: #000000;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Rowdies', cursive;
	padding: 10px
}
p {
	padding: 10px;
	font-family: 'Rowdies', cursive;
	font-size: 1.3em;
}
header {
	width: 100%;
	display: inline-block;
	font-family: 'Rowdies', cursive;

}
.aside-left {
	width: 20%;
	float: left;
	display: block;
	min-height: 300px;
	background-color: #000000;
	font-family: 'Rowdies', cursive;

}
main {
	width: 40%;
	float: left;
	display: block;
	min-height: 300px;
	font-family: 'Rowdies', cursive;
}
aside {
	width: 25%;
	float: right;
	display: block;
	min-height: 300px;
	background-color: #000000;
	color: #ffffff;
	font-family: 'Rowdies', cursive;

}
footer {
	width: 100%;
	display: inline-block;
	background-color: #000000;
}
.left-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #000000;
	color: #fff;
}
.center-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #000000;
	color: #fff;
}
.right-footer {
	width: 33%;
	float: right;
	display: block;
	min-height: 200px;
	background-color: #000000;
	color: #fff;
}
.copyright {
	width: 100%;
	display: inline-block;
	background-color: #801593;
}
gameright {
	position: right;
	width: 100%;
	font-family: 'Rowdies', cursive; 
}
gameleft {
	width: 24%;
	position: left;
	min-height: 200px;
	background-color: #000000;
	font-family: 'Rowdies', cursive;

}
gamemain {
	width: 40%;
	position: center;
	min-height: 300px;
	font-family: 'Rowdies', cursive;
}

/* Menu CSS */
.topnav {
  background-color: #801593;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #000000;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
