@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rowdies', sans-serrif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
